*{
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  top: 0px;
  overflow: hidden;
}

.container{
  width: 25%;
  min-height: 450px;
  border: 2px solid rgba(7, 77, 242, 0.85);
  margin: 0px auto;
  background-color:  rgb(122, 194, 58);
  border-radius: 15% 0 20% 0%;
}

.header{
  text-align: center;
  text-transform: uppercase;
  padding: 2px;
  color: rgb(122, 194, 58);
}

.calculator{
  width: 90%;
  min-height: 430px;
  margin: 0px auto;
}


.buttonList{
  width: 100%;
  min-height: 350px;
  margin-bottom: 20px;
  padding: 10px;
}

button{
  width: 22%;
  height: 10vh;
  background-color: rgba(21, 84, 233, 0.85);
  border: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}

.textfield{
  height: 60px;
  width: 87%;
  border: 1px solid black;
  background: #FFF;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  font-size: 20px;
  color: black;
  text-align: right;
  border-bottom: none;
}

.result{
  height: 30px;
  width: 87%;
  text-align: right;
  font-size: 20px;
  margin: 0px 10px 10px 10px;
  padding-right: 3px;
  border: 1px solid black;
  border-top: none;
  background-color: #FFF;
}

@media screen and (max-width: 600px) {
  .container{
    width: 90%;
  }
}
